<footer class="bg-light py-4 mt-5">
  <div class="container">

    <!-- Logo at the top -->
    <div class="logo-container">
      <img src="/images/mpdecalslogo2.jpeg" alt="MpDecals Logo" width="200"> <!-- Adjust the width as necessary -->
    </div>

    <div class="row">
      <!-- Company Info -->
      <div class="col-lg-4 col-md-6 col-12">
        <h5>Contact Information</h5>
        <p>Potomac, Maryland, United States</p>
        <p>Email: mpdecalsusa@gmail.com</p>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-4 col-md-6 col-12">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/form">Customize and Buy</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-lg-4 col-12 text-lg-right text-left">
        <h5>Follow Us</h5>
        <div class="social-logos">
          <a href="https://www.instagram.com/mp.decals.usa/" target="_blank" class="logo-center">
            <img src="/images/instagram.png" alt="Instagram" height="40">
          </a>
          <a href="https://www.facebook.com/Mpdecalsusa" target="_blank" class="logo-center">
            <img src="/images/facebook.png" alt="Facebook" height="40">
          </a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p>&copy; 2023 MpDecals USA. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
