<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MpDecals USA specializes in high-quality custom graphics and decals for dirtbikes. Tailored designs to suit your style and enhance your ride.">
    <meta name="keywords" content="dirtbike decals, custom graphics, bike stickers, MpDecals USA, motocross graphics, custom dirtbike decals">
    <title>MpDecals USA - Custom Dirtbike Graphics and Decals</title>
    <link rel="icon" type="image/x-icon" href="images/mpdecalslogo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Rowdies:wght@700&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/styles.css">  <!-- Custom CSS -->
</head>

<body>

    <!-- Include Navbar -->
    <%- include('partials/navbar') %>

    <!-- Content will be injected here -->
    <%- include(body) %>

    <!-- Include Footer -->
    <%- include('partials/footer') %>

    <!-- Bootstrap JS and dependencies from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script src="/js/bundle.js"></script>
</html>
